body {
    background-attachment: fixed;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #FF6200 42%, #045B5B 87%);
    background-repeat: no-repeat;
}
header {
    background-color: aqua;
    height: 100px;
    width: 100%;
}

.main-card {
    background-color: #009E9E;
    border-radius: 15px;
    height: max-content;
    margin: 50px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    width: 100%;

    font-family: "Poppins", Sans-serif;
}

.main-card h1 {
    text-align: center;
}

.main-info {
    display: flex;
    justify-content: center;
    gap: 40px
}

.card-img {
    background-image: url(https://thumbs.dreamstime.com/b/p%C3%A3o-longo-do-naco-22826883.jpg);
    background-size: contain;
    border-radius: 50%;
    flex-basis: 12%;
}

.card-info {
    min-height: 150px;
    flex-basis: 40%;
    padding: 0px 10px;
}

.card-info ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 0px 10px;
}

.card-progress {
    flex-basis: 10%;
    padding: 10px;
    text-align: center;
}

.card-socials {
    display: flex;
    gap: 30px;
    justify-content: center;
    height: 30px;
    margin: 15px auto 25px auto;
    width: 1120px;
    
}

.card-aboutme {
    /* height: fit-content; */
    margin: 15px auto 25px auto;
    text-align: center;
    width: 1120px;

}

.card-aboutme div span {
    font-size: 40px;
}

.progress-bar {
    background-color: black;
    border-radius: 15px;
    height: 20px;
    width: 300px;
}

.icon {
    background-color: aliceblue;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.mini-bot {
    width: 350px;
}
